background(255);
size(800, 600);
//head
fill(196, 139,34, 127);
ellipse(400, 300, 80, 80);

//body
fill(157,34,196);
rectMode(CENTER);
rect(400, 400, 90, 120);

//eyes (left)
ellipseMode(CENTER);
ellipse(370, 290, 15, 15);

//eyes(right)
ellipseMode(CENTER);
ellipse(400, 290, 15,15);

//mouth
fill(0);
rectMode(CENTER);
rect(390, 320, 20,10);

//antenna
line(400,260, 400,190);
