//setting uo the size of the window
void setup(){
  size(800, 600);
  smooth();
  frameRate(30);
}

void draw(){
  //drawing the background
  background(255);

  //head
  fill(196, 139,34, 127);
  ellipse(mouseX, mouseY - 100, 80, 80);

  //body
  fill(mouseX,mouseY,mouseY);
  rectMode(CENTER);
  rect(mouseX,mouseY , 90, 120);

  //eyes (left)
  ellipseMode(CENTER);
  ellipse(mouseX - 30, mouseY - 112, 15, 15);

  //eyes(right) 
  ellipseMode(CENTER);
  ellipse(mouseX, mouseY - 112, 15,15);

  //mouth
  fill(0);
  rectMode(CENTER);
  rect(mouseX - 10, mouseY - 80, 20,10);

  //antenna
  line(mouseX,mouseY - 140, pmouseX , pmouseY - 200);
}
void keyPressed(){
  
  println("im AWESOME!!");
}
